/* Temporary fixes
-----------------------------------------------------------------------------*/
/* better suport for fields within fieldgroup horizontal tabs */ 

.form-wrapper.field-group-htab .form-item,
.form-wrapper.field-group-htab .form-wrapper {
  margin-bottom: 10px;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0;
}


/* Use the full width available.
-----------------------------------------------------------------------------*/
#top {
  background-color: #333;
}

#page {
  width: 96%;
  position: relative;
}

#page-title {
 padding-left: 5px;
}

#tabs .limiter {
  width: 96%;
}

#footer {
  margin: 10px 0 20px;
}


/* Page styles
-----------------------------------------------------------------------------*/
body.html {
  background: white url("../../rubik/images/bleeds.png") 0px -250px repeat-x;
}

.mceIframeContainer body {
  min-width: auto;
  background: white;
}

.limiter {
  width: auto;
}

/* Make the main action button stand out. */

.form-actions input.button-yes {
  background-color: #39C;
  color: #fff;
}

/* Rounded buttons. */

input.form-submit,
input.teaser-button,
.form-wrapper .form-wrapper a.button,
a.button {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}


/* Make the vertical tab link text look more like links. */

.vertical-tabs-list li a {
  color: #39C;
}

.vertical-tabs ul li.vertical-tab-button .summary {
  color: #666;
}


/* Tweak Table Styles. */

tr.odd {
  background-color: #f5f5f5;
}
tr.even,
.page-admin table tr.even,
.page-admin table tr.even {
  background-color: #fff;
}
table tr.odd td.active {
  background-color: #f1f1f1;
}
table tr.even td.active {
  background-color: #f4f4f4;
}

/* Fix for checkboxes on media thumbnail browser */

.media-list-thumbnails .form-item {
  background: transparent;
  margin: 0px 0px 10px;
  border: none;
}

/* Fix for .messages padding overwitten by theme cube */

div.messages {
  padding: 10px 10px 10px 40px;
}

/* Fix for .edit .delete icons padding overwitten by theme fubik */

.field-collection-view-links li.edit a,
.field-collection-view-links li.delete a,
.action-links.action-links-field-collection-add a {
  padding-left: 22px;
}